# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="your_supabase_url"

# Direct connection to the database. Used for migrations.
DIRECT_URL="your_direct_supabase_url"

AUTH_SECRET="your_supabase_secret"

# Localhost
AUTH_TRUST_HOST=http://localhost:3000/api/auth/session

# GitHub provider variables
GITHUB_CLIENT_ID="your_client_id"
GITHUB_CLIENT_SECRET="your_client_secret"

# Google provider variables
GOOGLE_CLIENT_ID="your_client_id"
GOOGLE_CLIENT_SECRET="your_client_secret"

# Resend Api
RESEND_API_KEY="your_resend_key"

# Supabase variables
NEXT_PUBLIC_SUPABASE_URL="your_supabase_url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your_supabase_anon_key"